body {
    background-color: lightgoldenrodyellow;
    box-sizing: border-box;
}

h1 a {
    color: royalblue;
}

h2 a {
    color: royalblue;
}

hr {
    border: 2px solid lightslategrey;
}

.header {
    background-color: rgb(255, 255, 159);
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content_block {
    margin: 0 auto;
    width: 50%;
}

.form_block {
    display: flex;
    flex-direction: column;
}

.form_block h3 {
    text-align: center;
}

.form {
    text-align: left;
}