body {
    background-color: lightgoldenrodyellow;
    box-sizing: border-box;
}

h1 a {
    color: royalblue;
    /* background-color: dodgerblue; */
    /* border: 2px solid dodgerblue; */
    /* border-radius: 10px; */
}

h2 a {
    color: royalblue;
}

body {
    padding-left: 20px;
}

hr {
    border: 2px solid lightslategrey;
}

.header {
    background-color: rgb(255, 255, 159)
}